.prc_logo{
	width: 60px;
	height: 60px;
}

.title{
	color: white;
	width: 100%;
	text-align: left;
	margin-top: 5px;
}
#loginPanel{
	margin-top: 15%;
	width: 75%;
	height: 95%;
	border-radius: 10px;
}

input{
	font-size: 100px;
}

#formCont{
	margin-top: 15%;
}

#adminPassword{
	margin-top: 5%;
	border-radius: 20px;
}

#adminUsername{
	margin-top: 5%;
	border-radius: 20px;
}

#loginSubmit{
	margin-right: 15px; 
	background-color: rgb(174,0,0);
	color: white;
	height: 100%; 
	width: 25%;
	float: right;
	margin-top: 8%;
	border-radius: 7px;
	font-size: 15px;
}

input[type=email], input[type=password]{
	font-size: 15px;
}

#loginHeader{
	/*height: 3000px;*/
	height: 80px;
	background-color: rgb(174,0,0);
	/*border-bottom-left-radius: 30% 60%;
	border-bottom-right-radius: 30% 60% */
	/*clip-path: ellipse(60% 10% at 50% 0%);*/
}

.login_validation{
	font-size: 16px;
	border: 5px solid yellow;
	border-radius: 50px;
}