.result-details{
	height: 400px;
	width: 40%;
	border: 3px solid gray;
	border-radius: 9px;
	background-color: #fff;
	padding: 30px;
	margin: 5% 0 10% 33%;
}

.patient-details>h2{
	font-weight: bold;
	color: green;
}

#trans_id{
	float: right;
}

.h3{
	text-align: center;
	margin-top: 23%;
}
